<template>
    <v-container>
        <v-row>
            <v-col>
                <StartQuizz type="duo" />
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import store from "../store";
import StartQuizz from "../components/StartQuizz.vue"; // @ is an alias to /src

export default Vue.extend({
    name: "StartQuizzDuo",
    mounted() {
        store.dispatch("closeConnection");
    },
    components: {
        StartQuizz
    }
});
</script>
