<template>
    <v-container fill-height fluid>
        <v-row align="center">
            <v-col>
                <div class="content mb-3">
                    <h2 v-if="against">
                        Vous affrontez
                        <span style="color: #6c63ff;">{{
                            against.firstName + " " + against.lastName
                        }}</span>
                    </h2>
                </div>
                <AlreadyPlaying v-if="alreadyPlaying" />
                <ChooseTheme v-else-if="chooseTheme" @theme="sendTheme" />
                <WaitingForUserToChooseTheme
                    v-else-if="waitingForUserToChooseTheme && !chooseTheme"
                />
                <WaitingForUser
                    v-else-if="waitingForUser && !chooseTheme"
                    :theme="themeName"
                    @change-theme="changeTheme"
                />
                <AnswerQuestion
                    v-else-if="answerQuestion && question && possibleAnswers"
                    :question="question"
                    ref="answerQuestion"
                    :possibleAnswers="possibleAnswers"
                    @answer="sendAnswer"
                />
                <WaitingForNewQuestion v-else-if="waitingForNewQuestion" />
                <GameFinished
                    v-else-if="gameFinished"
                    mode="duo"
                    :is-winner="isWinner"
                    :score="score"
                />
                <ConnectionClosed
                    v-else-if="!gameFinished && connectionClosed"
                />
                <StreamCamera
                    :streamSource="streamSource"
                    :receiverSource="receiverSource"
                    v-if="receiverSource !== null || streamSource !== null"
                />
                <div class="d-flex justify-center align-center">
                    <v-bottom-sheet v-model="sheet" inset>
                        <template v-slot:activator="{ attrs }">
                            <v-btn
                                color="orange"
                                dark
                                v-bind="attrs"
                                @click="activatePopup"
                                v-if="!connectionClosed && !alreadyPlaying"
                            >
                                <v-icon dark>
                                    mdi-video
                                </v-icon>
                            </v-btn>
                        </template>
                        <v-sheet
                            class="text-center"
                            height="200px"
                            id="bottom-sheet"
                        >
                            <div class="d-flex flex-column align-center">
                                <v-select
                                    class="mediaDevice-select mt-6 mb-5"
                                    :disabled="videoInputs.length < 1"
                                    v-if="
                                        !isCameraAllowed &&
                                            tempStreamSource === null
                                    "
                                    label="Choix de caméra"
                                    :items="videoInputs"
                                    @change="setInput"
                                    item-text="label"
                                    ref="videoInputs"
                                    return-object
                                    hide-details
                                    outlined
                                    dense
                                ></v-select>
                                <v-select
                                    :disabled="this.audioInputs.length < 1"
                                    class="mediaDevice-select"
                                    v-if="
                                        !isCameraAllowed &&
                                            tempStreamSource === null
                                    "
                                    label="Choix de microphone"
                                    :items="audioInputs"
                                    @change="setInput"
                                    item-text="label"
                                    ref="audioInputs"
                                    return-object
                                    hide-details
                                    outlined
                                    dense
                                ></v-select>
                            </div>
                            <v-tooltip right v-if="!isCameraAllowed">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        @click="startCamera"
                                        class="white--text mt-5"
                                        color="#6c63ff"
                                        v-bind="attrs"
                                        v-on="on"
                                        :disabled="
                                            currVideoInput === null ||
                                                currAudioInput === null
                                        "
                                    >
                                        <v-icon dark>
                                            mdi-video
                                        </v-icon>
                                    </v-btn>
                                </template>
                                <span>Activer la webcam et le microphone</span>
                            </v-tooltip>
                            <v-tooltip right v-if="isCameraAllowed">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        @click="stopCamera"
                                        class="mt-5"
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        <v-icon dark>
                                            mdi-video-off
                                        </v-icon>
                                    </v-btn>
                                </template>
                                <span
                                    >Désactiver la webcam et le microphone</span
                                >
                            </v-tooltip>
                            <v-btn
                                class="bottomSheet-close"
                                text
                                color="warning"
                                @click="sheet = !sheet"
                            >
                                Fermer
                            </v-btn>
                            <v-tooltip right max-width="250px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-icon
                                        class="info_tooltip"
                                        color="warning"
                                        dark
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        mdi-information
                                    </v-icon>
                                </template>
                                <span
                                    >Il est possible que votre microphone ainsi
                                    que votre caméra n'aient pas été détectés ou
                                    que vous n'ayez pas autorisé l'accès à ces
                                    derniers. Dans ce cas, le bouton sera
                                    désactivé.
                                </span>
                            </v-tooltip>
                        </v-sheet>
                    </v-bottom-sheet>
                </div>
            </v-col>
        </v-row>
        <v-snackbar
            v-model="showSnackbar"
            :timeout="snackbarTimeout"
            multi-line
        >
            {{ snackbarText }}
            <template v-slot:action="{ attrs }">
                <v-btn
                    color="orange"
                    text
                    v-bind="attrs"
                    @click="showSnackbar = false"
                >
                    Fermer
                </v-btn>
            </template>
        </v-snackbar>

        <v-snackbar
            v-model="showAskSnackbar"
            :timeout="askSnackbarTimeout"
            multi-line
        >
            {{ askSnackbarText }}
            <template v-slot:action="{ attrs }">
                <v-btn
                    color="orange"
                    text
                    v-bind="attrs"
                    @click="showEmitterCamera"
                >
                    Oui
                </v-btn>
                <v-btn
                    color="orange"
                    text
                    v-bind="attrs"
                    @click="showAskSnackbar = false"
                >
                    Non
                </v-btn>
            </template>
        </v-snackbar>

        <v-snackbar
            v-model="showAddCameraSnackbar"
            :timeout="addCameraSnackbarTimeout"
            multi-line
        >
            {{ addCameraSnackbarText }}
            <template v-slot:action="{ attrs }">
                <v-btn
                    color="orange"
                    text
                    v-bind="attrs"
                    @click="activatePopup"
                >
                    Oui
                </v-btn>
                <v-btn
                    color="orange"
                    text
                    v-bind="attrs"
                    @click="showAddCameraSnackbar = false"
                >
                    Non
                </v-btn>
            </template>
        </v-snackbar>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import StreamCamera from "../components/StreamCamera.vue";
import WaitingForUser from "../components/WaitingForUser.vue";
import WaitingForUserToChooseTheme from "../components/WaitingForUserToChooseTheme.vue";
import AnswerQuestion from "../components/AnswerQuestion.vue";
import GameFinished from "../components/GameFinished.vue";
import AlreadyPlaying from "../components/AlreadyPlaying.vue";
import ChooseTheme from "../components/ChooseTheme.vue";
import WaitingForNewQuestion from "../components/WaitingForNewQuestion.vue";
import ConnectionClosed from "../components/ConnectionClosed.vue";
import { PossibleAnswer, Question, Theme, User } from "../utils/types";
import Peer, { Instance as PeerInstance, SignalData } from "simple-peer";
import store from "../store";

export default Vue.extend({
    name: "TakeQuizzDuo",
    components: {
        AlreadyPlaying,
        WaitingForUser,
        WaitingForUserToChooseTheme,
        AnswerQuestion,
        GameFinished,
        WaitingForNewQuestion,
        ConnectionClosed,
        ChooseTheme,
        StreamCamera
    },
    data: () => ({
        waitingForUser: false as boolean,
        waitingForUserToChooseTheme: false as boolean,
        waitingForNewQuestion: false as boolean,
        answerQuestion: false as boolean,
        gameFinished: false as boolean,
        chooseTheme: false as boolean,
        isWinner: false as boolean,
        question: false as Question | boolean,
        possibleAnswers: false as PossibleAnswer | boolean,
        room: -1 as number,
        against: undefined as User | undefined,
        score: undefined as number | undefined,
        themeName: undefined as string | undefined,
        alreadyPlaying: false as boolean,
        connectionClosed: false as boolean,
        userId: -1 as number,

        emitterOffer: null as SignalData | null,
        sendOfferCounter: 0,
        isAddingNewStream: false,

        snackbarTimeout: 5000,
        snackbarText: "",
        showSnackbar: false,

        showAskSnackbar: false,
        askSnackbarTimeout: -1,
        askSnackbarText: "",

        showAddCameraSnackbar: false,
        addCameraSnackbarTimeout: -1,
        addCameraSnackbarText: "",

        sheet: false,

        simplePeer: null as PeerInstance | null,
        isInitiator: false,

        isCameraAllowed: false,
        streamSource: null as MediaStream | null,
        receiverSource: null as MediaStream | null,

        tempStreamSource: null as MediaStream | null,
        tempReceiverSource: null as MediaStream | null,

        currVideoInput: null as MediaDeviceInfo | null,
        currAudioInput: null as MediaDeviceInfo | null,

        videoInputs: [] as MediaDeviceInfo[],
        audioInputs: [] as MediaDeviceInfo[]
    }),
    async mounted() {
        this.userId = this.getId();
        store.dispatch("createConnection");

        const id = this.userId;
        store.state.users.wsConnection.onopen = function() {
            store.state.users.wsConnection.send(JSON.stringify({ id }));
        };

        store.state.users.wsConnection.onmessage = this.socketMessageHandler;

        this.getDevices();
    },
    beforeDestroy() {
        if (this.simplePeer && !this.simplePeer.destroyed) {
            this.simplePeer.send("userLeft");
        }
    },
    async destroyed() {
        if (this.simplePeer && !this.simplePeer.destroyed) {
            this.simplePeer.destroy();
        } else {
            this.simplePeer = null;
        }
        store.dispatch("closeConnection");
    },
    methods: {
        simplyAddStream() {
            navigator.mediaDevices
                .getUserMedia({
                    audio: {
                        deviceId: {
                            exact: this.currAudioInput?.deviceId
                        }
                    },
                    video: {
                        deviceId: {
                            exact: this.currVideoInput?.deviceId
                        }
                    }
                })
                .then(async stream => {
                    this.isAddingNewStream = true;
                    this.streamSource = stream;
                    this.isCameraAllowed = true;

                    await this.$nextTick();
                    this.simplePeer?.addStream(stream);
                })
                .catch(error => {
                    console.log(error);
                    this.showSnackbar = true;
                    this.snackbarText =
                        "Une erreur est survenue. Essayez de choisir d'autres périphériques ou veuillez autoriser l'accès à votre caméra et votre microphone";
                });
        },
        async showEmitterCamera() {
            this.isInitiator = false;
            await this.$nextTick();

            this.simplePeer = new Peer({
                initiator: this.isInitiator,
                trickle: false
            });

            this.bindEvents(this.simplePeer);
            this.simplePeer.signal(this.emitterOffer as SignalData);

            this.showAskSnackbar = false;
            this.addCameraSnackbarText = "Désirez-vous activer votre caméra ?";
            this.showAddCameraSnackbar = true;
        },
        activatePopup() {
            // Browser compability (will trigger permission popup)
            this.showAddCameraSnackbar = false;
            this.showAskSnackbar = false;

            if (!this.isElectron()) {
                navigator.mediaDevices
                    .getUserMedia({ audio: true, video: true })
                    .then(async () => {
                        this.getDevices();
                        await this.$nextTick();
                        this.sheet = true;
                    })
                    .catch(error => {
                        this.showSnackbar = true;
                        this.snackbarText =
                            "Veuillez autoriser l'accès à votre caméra et votre microphone.";
                        console.error(error);
                    });
            } else {
                this.sheet = true;
            }
        },
        closePeerConnection() {
            if (this.simplePeer) {
                this.simplePeer.destroy();
            }
            if (this.streamSource !== null) {
                this.streamSource.getTracks().forEach(track => track.stop());
                this.streamSource = null;
            }
            if (this.receiverSource !== null) {
                this.receiverSource.getTracks().forEach(track => track.stop());
                this.receiverSource = null;
            }

            this.isCameraAllowed = false;
        },
        async startCamera() {
            // eslint-disable-next-line @typescript-eslint/no-unused-vars
            let stream = null;
            this.sheet = !this.sheet;

            if (this.tempStreamSource !== null) {
                this.reactivateCamera();
            } else if (this.sendOfferCounter > 0) {
                this.simplyAddStream();
            } else {
                try {
                    // Get user stream if autorised - Promise is being returned
                    stream = await navigator.mediaDevices
                        .getUserMedia({
                            audio: {
                                deviceId: {
                                    exact: this.currAudioInput?.deviceId
                                }
                            },
                            video: {
                                deviceId: {
                                    exact: this.currVideoInput?.deviceId
                                }
                                // width: 1920, height: 1080 - will choose 1920x1080 or the highest resolution available but it's using a lot of ressources, so add it at your own risk
                            }
                        })
                        .then(stream => {
                            this.streamSource = stream;
                            this.isCameraAllowed = true; // Will trigger the StreamCamera render - with streamSource passed on as props

                            store.state.users.wsConnection.send(
                                JSON.stringify({
                                    id: this.userId,
                                    room: this.room,
                                    initiatorCheck: "check"
                                })
                            );
                        })
                        .catch(error => {
                            this.showSnackbar = true;
                            if (
                                error.message === "Requested device not found"
                            ) {
                                this.snackbarText =
                                    "Périphériques non trouvés.";
                            } else if (error.message === "Permission denied") {
                                this.snackbarText =
                                    "Veuillez autoriser l'accès à votre webcam et votre microphone.";
                            } else {
                                this.snackbarText =
                                    "Une erreur est survenue. Essayez de choisir d'autres périphériques ou veuillez autoriser l'accès à votre caméra et votre microphone.";
                            }
                            console.error(error.message);
                        });
                } catch (error) {
                    console.error(error);
                }
            }
        },
        async stopCamera() {
            this.streamSource?.getTracks().forEach(track => {
                track.enabled = false;
            });

            this.isCameraAllowed = false;

            this.tempStreamSource = this.streamSource;
            this.streamSource = null;

            this.simplePeer?.send("hasStoppedCamera");

            this.sheet = !this.sheet;
        },
        async reactivateCamera() {
            this.isCameraAllowed = true;

            this.streamSource = this.tempStreamSource;
            this.tempStreamSource = null;

            await this.$nextTick();

            this.streamSource?.getTracks().forEach(track => {
                track.enabled = true;
            });

            this.simplePeer?.send("hasReactivatedCamera");
        },
        getDevices() {
            this.videoInputs = [];
            this.audioInputs = [];

            navigator.mediaDevices
                .enumerateDevices()
                .then(devices =>
                    devices.forEach((device: MediaDeviceInfo) => {
                        if (
                            device.kind === "videoinput" &&
                            device.deviceId !== ""
                        ) {
                            this.videoInputs.push(device);
                        }

                        if (
                            device.kind === "audioinput" &&
                            device.deviceId !== ""
                        ) {
                            this.audioInputs.push(device);
                        }
                    })
                )
                .catch(error => console.error(error));
        },
        async setInput(input: MediaDeviceInfo) {
            if (input.kind === "videoinput") {
                this.currVideoInput = input;
                await this.$nextTick();
            }

            if (input.kind === "audioinput") {
                this.currAudioInput = input;
                await this.$nextTick();
            }
        },
        getId(): number {
            const id = localStorage.getItem("id");
            return Number(id);
        },
        sendAnswer(answer: number) {
            // send user's response to the server
            store.state.users.wsConnection.send(
                JSON.stringify({
                    answer: answer,
                    room: this.room,
                    id: this.userId
                })
            );
            this.answerQuestion = false;
            this.waitingForNewQuestion = true;
        },
        sendTheme(theme: Theme) {
            // send user's Theme to the server
            store.state.users.wsConnection.send(
                JSON.stringify({
                    theme: theme.id,
                    room: this.room,
                    id: this.userId
                })
            );
            this.chooseTheme = false;
            this.waitingForUser = true;
            this.themeName = theme.name;
        },
        sendChangingTheme() {
            // send user's Theme to the server
            store.state.users.wsConnection.send(
                JSON.stringify({
                    changingTheme: true,
                    room: this.room,
                    id: this.userId
                })
            );
        },
        changeTheme() {
            this.chooseTheme = true;
            this.waitingForUser = false;
            this.sendChangingTheme();
        },
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        async socketMessageHandler(e: any) {
            const info = JSON.parse(e.data);
            this.room = info.room;

            if (info.against && !this.against) {
                this.against = await store.dispatch("getUserById", {
                    id: info.against
                });
            }
            switch (true) {
                // ---- Handle WebRTC
                case "receiverOffer" in info:
                    if (this.isInitiator && this.simplePeer !== null) {
                        this.simplePeer.signal(info.receiverOffer); // Save receiverOffer on the emitter's side
                    }
                    break;

                case "emitterOffer" in info && "askUser" in info:
                    this.emitterOffer = info.emitterOffer;
                    await this.$nextTick();

                    this.showAskSnackbar = true;
                    this.askSnackbarText =
                        "L'utilisateur adverse a activé sa caméra, voulez-vous le voir ?";
                    break;

                case "isInitiator" in info:
                    this.startSimplePeer(info);
                    break;

                // ---- Handle Quizz
                case "chooseTheme" in info:
                    this.chooseThemeHandler(info.chooseTheme);
                    break;

                case info.yourTurn && !info.finished:
                    this.answerQuestionHandler(info.question);
                    break;

                case info.closed:
                    this.closeConnectionHandler();
                    break;

                case !info.yourTurn && !info.finished && !info.alreadyPlaying:
                    this.waitingForNewQuestionHandler();
                    break;

                case info.finished:
                    this.gameFinishedHandler(info.winner, info.score);
                    break;

                case info.alreadyPlaying:
                    this.alreadyPlaying = true;
                    break;
            }
        },
        chooseThemeHandler(hasToChooseTheme: boolean) {
            this.waitingForUser = false;

            this.chooseTheme = hasToChooseTheme;
            this.waitingForUserToChooseTheme = !hasToChooseTheme;
        },
        closeConnectionHandler() {
            this.waitingForUserToChooseTheme = false;
            this.waitingForNewQuestion = false;
            this.waitingForUser = false;
            this.answerQuestion = false;
            this.connectionClosed = true;

            this.closePeerConnection();
            store.dispatch("closeConnection");
        },
        gameFinishedHandler(winner: boolean, score: number) {
            this.gameFinished = true;
            this.waitingForNewQuestion = false;
            this.waitingForUser = false;
            this.answerQuestion = false;
            this.isWinner = winner;
            this.score = score;
        },
        waitingForNewQuestionHandler() {
            this.waitingForUserToChooseTheme = false;
            this.waitingForNewQuestion = true;
            this.waitingForUser = false;
            this.answerQuestion = false;
        },
        async answerQuestionHandler(idQuestion: number) {
            this.waitingForUser = false;
            this.answerQuestion = true;
            this.waitingForNewQuestion = false;

            await this.getQuestions(idQuestion);
            await this.getPossibleAnswers(idQuestion);

            (this.$refs.answerQuestion as InstanceType<
                typeof AnswerQuestion
            >).clearTimeoutOnAnswer();

            (this.$refs.answerQuestion as InstanceType<
                typeof AnswerQuestion
            >).setTimeoutOnAnswer();
        },
        async getQuestions(idQuestion: number) {
            this.question = await store.dispatch("getQuestionById", {
                id: idQuestion
            });
        },
        async getPossibleAnswers(idQuestion: number) {
            this.possibleAnswers = await store.dispatch(
                "getQuestionPossibleAnswers",
                {
                    id: idQuestion
                }
            );
        },
        async startSimplePeer(info: {
            isInitiator: boolean;
            emitterOffer: string | SignalData;
        }) {
            this.isInitiator = info.isInitiator;
            await this.$nextTick();
            if (this.streamSource !== null) {
                this.simplePeer = new Peer({
                    initiator: this.isInitiator,
                    stream: this.streamSource,
                    trickle: false
                });
                this.bindEvents(this.simplePeer);

                if (info.isInitiator === false) {
                    this.simplePeer.signal(info.emitterOffer); // Save emitterOffer on the receiver's side
                }
            }
        },
        bindEvents(peer: PeerInstance) {
            peer.on("data", data => {
                let parsedData = JSON.parse('{ "type": null }');

                try {
                    parsedData = JSON.parse(data);
                } catch (e) {
                    data = data.toString();
                }

                if (data === "userLeft") {
                    if (this.streamSource) {
                        this.streamSource
                            .getTracks()
                            .forEach(track => track.stop());
                    }
                    if (this.streamSource !== null) {
                        this.streamSource
                            .getTracks()
                            .forEach(track => track.stop());
                    }

                    if (this.simplePeer && !this.simplePeer.destroyed) {
                        this.simplePeer.destroy();
                    }

                    this.sendOfferCounter = 0;
                    this.tempStreamSource = null;
                    this.tempReceiverSource = null;
                    this.receiverSource = null;
                    this.streamSource = null;
                    this.isCameraAllowed = false;
                } else if (parsedData.type === "renegotiate") {
                    // Other user wants to add stream to the connection so we accept renegotiation
                    this.simplePeer?.signal(parsedData); // Save renegotiation and generate new offer
                } else if (parsedData.type === "offer") {
                    // User adding the stream has received a new offer after renegotiation
                    this.simplePeer?.signal(parsedData); // Save new offer and generate new answer (is also an offer)
                    // Will send an answer with peer.send(JSON.stringify(offer)) now in peer.on("signal")
                    this.sendOfferCounter = 0;
                } else if (parsedData.type === "answer") {
                    // First user has received new answer (offer) and stream is being added
                    this.simplePeer?.signal(parsedData);
                    this.sendOfferCounter = 0;
                } else if (data === "hasStoppedCamera") {
                    this.tempReceiverSource = this.receiverSource;
                    this.receiverSource = null;
                } else if (data === "hasReactivatedCamera") {
                    this.receiverSource = this.tempReceiverSource;
                    this.tempReceiverSource = null;
                }
            });
            peer.on("error", function(err: string) {
                console.error("error", err);
            });

            peer.on("signal", async offer => {
                if (this.sendOfferCounter > 0 && this.isAddingNewStream) {
                    // User wants to add new stream - sends renegotation to the 1st user
                    peer.send(JSON.stringify(offer));
                } else if (
                    this.sendOfferCounter > 0 &&
                    !this.isAddingNewStream
                ) {
                    peer.send(JSON.stringify(offer)); // New offer is being sent to the user that is adding the stream
                }

                // We want to use WebSocket for the signaling only for the first time
                if (this.sendOfferCounter === 0) {
                    this.sendOffer(offer);
                }

                this.sendOfferCounter++;
                await this.$nextTick();
            });

            // Peer has received a stream
            peer.on("stream", (stream: MediaStream) => {
                this.receiverSource = stream;
            });

            // Both peers have connected
            peer.on("connect", () => {
                console.log("Peers Connected !");
            });
        },
        sendOffer(offer: SignalData) {
            store.state.users.wsConnection.send(
                JSON.stringify({
                    id: this.userId,
                    offer: JSON.stringify(offer)
                })
            );
        },
        // https://github.com/cheton/is-electron
        isElectron() {
            // Renderer process
            if (
                typeof window !== "undefined" &&
                typeof window.process === "object" &&
                window.process.type === "renderer"
            ) {
                return true;
            }

            // Main process
            if (
                typeof process !== "undefined" &&
                typeof process.versions === "object" &&
                !!process.versions.electron
            ) {
                return true;
            }

            // Detect the user agent when the `nodeIntegration` option is set to true
            if (
                typeof navigator === "object" &&
                typeof navigator.userAgent === "string" &&
                navigator.userAgent.indexOf("Electron") >= 0
            ) {
                return true;
            }

            return false;
        }
    }
});
</script>

<style scoped>
.mediaDevice-select {
    width: 250px;
}

#bottom-sheet {
    position: relative;
}

.bottomSheet-close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.info_tooltip {
    position: absolute;
    left: 15px;
    top: 15px;
}

.content {
    justify-content: center;
    align-items: center;
    display: flex;
}
</style>
