<template>
    <v-container fill-height fluid>
        <v-row align="center">
            <v-col v-if="!chooseTheme">
                <v-stepper
                    class="elevation-0"
                    v-model="step"
                    v-if="questions && possibleAnswers && !gameFinished"
                >
                    <v-stepper-header>
                        <v-stepper-step
                            color="primary"
                            :complete="step > 1"
                            step="1"
                        >
                            Première question
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step
                            color="primary"
                            :complete="step > 2"
                            step="2"
                        >
                            Deuxième question
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step
                            color="primary"
                            :complete="step > 2"
                            step="3"
                        >
                            Troisième question
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step color="primary" step="4">
                            Dernière question
                        </v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <AnswerQuestion
                                v-if="questions[0] && possibleAnswers[0]"
                                ref="answerQuestion0"
                                :question="questions[0]"
                                :possibleAnswers="possibleAnswers[0]"
                                @answer="registerAnswer"
                            />
                        </v-stepper-content>

                        <v-stepper-content step="2">
                            <AnswerQuestion
                                v-if="questions[1] && possibleAnswers[1]"
                                ref="answerQuestion1"
                                :question="questions[1]"
                                :possibleAnswers="possibleAnswers[1]"
                                @answer="registerAnswer"
                            />
                        </v-stepper-content>

                        <v-stepper-content step="3">
                            <AnswerQuestion
                                v-if="questions[2] && possibleAnswers[2]"
                                ref="answerQuestion2"
                                :question="questions[2]"
                                :possibleAnswers="possibleAnswers[2]"
                                @answer="registerAnswer"
                            />
                        </v-stepper-content>

                        <v-stepper-content step="4">
                            <AnswerQuestion
                                v-if="questions[3] && possibleAnswers[3]"
                                ref="answerQuestion3"
                                :question="questions[3]"
                                :possibleAnswers="possibleAnswers[3]"
                                @answer="registerAnswer"
                            />
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>

                <GameFinished
                    v-if="gameFinished"
                    mode="solo"
                    :is-winner="isWinner"
                    :score="score"
                />
            </v-col>
            <v-col v-else>
                <ChooseTheme @theme="getTheme" />
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import AnswerQuestion from "../components/AnswerQuestion.vue";
import GameFinished from "../components/GameFinished.vue";
import ChooseTheme from "../components/ChooseTheme.vue";
import store from "../store";
import { PossibleAnswer, Question, Theme } from "../utils/types";

export default Vue.extend({
    name: "TakeQuizzSolo",
    components: {
        AnswerQuestion,
        GameFinished,
        ChooseTheme
    },
    data: () => ({
        chooseTheme: true as boolean,
        answers: [] as number[],
        answerQuestion: false as boolean,
        gameFinished: false as boolean,
        questions: [] as Question[],
        isWinner: false as boolean,
        possibleAnswers: [] as PossibleAnswer[][],
        idTheme: -1 as number,
        step: 1 as number,
        score: undefined as number | undefined
    }),
    methods: {
        getId(): number {
            const id = localStorage.getItem("id");
            return Number(id);
        },
        async getTheme(theme: Theme) {
            this.idTheme = theme.id;
            this.chooseTheme = false;
            await this.getQuestionsAndPossibleAnswers();
        },
        async getFourRandomQuestionsByTheme(idTheme: number) {
            return await store.dispatch("getFourRandomQuestionsByTheme", {
                id: idTheme
            });
        },
        async registerQuizz() {
            const id = this.getId();
            return await store.dispatch("registerQuizzSolo", {
                mode: "1",
                user1: id,
                questions: `${this.questions[0].id},${this.questions[1].id},${this.questions[2].id},${this.questions[3].id}`
            });
        },
        async getPossibleAnswers(idQuestion: number) {
            return await store.dispatch("getQuestionPossibleAnswers", {
                id: idQuestion
            });
        },
        async getQuestionsAndPossibleAnswers() {
            this.questions = await this.getFourRandomQuestionsByTheme(
                this.idTheme
            );
            for (let i = 0; i < 4; i++) {
                const possibleAnswers = await this.getPossibleAnswers(
                    this.questions[i].id
                );

                if (this.possibleAnswers)
                    this.possibleAnswers.push(possibleAnswers);
            }

            (this.$refs["answerQuestion" + (this.step - 1)] as InstanceType<
                typeof AnswerQuestion
            >).setTimeoutOnAnswer();
        },
        async registerAnswer(answer: number) {
            this.step++;
            this.answers.push(answer);

            if (this.answers.length === 4) {
                await this.checkAnswers();
            } else {
                (this.$refs["answerQuestion" + (this.step - 2)] as InstanceType<
                    typeof AnswerQuestion
                >).clearTimeoutOnAnswer();

                (this.$refs["answerQuestion" + (this.step - 1)] as InstanceType<
                    typeof AnswerQuestion
                >).setTimeoutOnAnswer();
            }
        },
        async checkAnswers() {
            let numberofRightAnswers = 0;

            for (let index = 0; index < this.answers.length; index++) {
                const possibleAnswer = this.possibleAnswers[index].find(
                    (possibleAnswer: PossibleAnswer) =>
                        this.answers[index] === possibleAnswer?.id
                );

                if (possibleAnswer?.id) {
                    const answer = await store.dispatch("getAnswerById", {
                        id: possibleAnswer?.id
                    });

                    if (answer.isRight) {
                        numberofRightAnswers++;
                    }
                }
            }

            if (numberofRightAnswers >= 2) {
                this.isWinner = true;
            } else {
                this.isWinner = false;
            }

            this.gameFinished = true;
            this.score = numberofRightAnswers;
            this.registerQuizz();
        }
    }
});
</script>
