<template>
    <v-container>
        <v-row>
            <v-col>
                <UserInfoTable
                    :points="points"
                    :ranking="ranking"
                    :numberOfUsers="numberOfUsers"
                    :firstName="firstName"
                    :lastName="lastName"
                />
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import UserInfoTable from "../components/UserInfoTable.vue"; // @ is an alias to /src
import store from "../store";
import { User } from "../utils/types";

export default Vue.extend({
    name: "UserInfo",
    data: () => ({
        points: 0,
        ranking: 0,
        firstName: "Prénom",
        lastName: "Nom",
        numberOfUsers: 0
    }),
    mounted() {
        const id = Number(localStorage.getItem("id"));
        this.getPoints(id);
        this.getRanking(id);
    },
    methods: {
        async getPoints(id: number) {
            const user: User = await store.dispatch("getUserById", { id });
            this.points = user.points;
            this.firstName = user.firstName;
            this.lastName = user.lastName;
        },
        async getRanking(id: number) {
            const ranking = await store.dispatch("getRanking", { id });
            this.ranking = ranking.ranking;
            this.numberOfUsers = ranking.numberOfUsers;
        }
    },
    components: {
        UserInfoTable
    }
});
</script>
