<template>
    <div>
        <div class="content">
            <div class="content-img"></div>
        </div>
        <div class="content mt-5 mb-5">
            <h2>
                Vous êtes <span style="color: #ff6363;">déjà</span> en train de
                jouer une partie.. !
            </h2>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "AlreadyPlaying",
    data: () => ({}),
    methods: {}
});
</script>

<style scoped>
.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-img {
    background-image: url("~@/assets/already_playing.svg");
}
</style>
