<template>
    <div>
        <v-row class="text-center px-3">
            <h1 class="mx-auto">{{ question.label }}</h1>
        </v-row>

        <v-row>
            <v-radio-group
                class="mx-auto justify-center radioGroup-questions"
                style="row-gap: 16px;"
                row
                v-model="answer"
            >
                <v-card max-width="250" class="ma-2 mt-0 mb-4">
                    <v-card-text class="d-flex" style="height: 100%;">
                        <v-radio color="primary" :value="possibleAnswers[0].id">
                            <template v-slot:label>
                                <div class="my-0 py-0">
                                    <p class="mb-0 title text--primary">
                                        {{ possibleAnswers[0].label }}
                                    </p>
                                </div>
                            </template>
                        </v-radio>
                    </v-card-text>
                </v-card>

                <v-card max-width="250" class="ma-2 mt-0 mb-4">
                    <v-card-text class="d-flex" style="height: 100%;">
                        <v-radio color="primary" :value="possibleAnswers[1].id">
                            <template v-slot:label>
                                <div class="my-0 py-0">
                                    <p class="mb-0 title text--primary">
                                        {{ possibleAnswers[1].label }}
                                    </p>
                                </div>
                            </template>
                        </v-radio>
                    </v-card-text>
                </v-card>

                <v-card max-width="250" class="ma-2 mt-0 mb-4">
                    <v-card-text class="d-flex" style="height: 100%;">
                        <v-radio color="primary" :value="possibleAnswers[2].id">
                            <template v-slot:label>
                                <div class="my-0 py-0">
                                    <p class="mb-0 title text--primary">
                                        {{ possibleAnswers[2].label }}
                                    </p>
                                </div>
                            </template>
                        </v-radio>
                    </v-card-text>
                </v-card>

                <v-card max-width="250" class="ma-2 mt-0 mb-4">
                    <v-card-text class="d-flex" style="height: 100%;">
                        <v-radio color="primary" :value="possibleAnswers[3].id">
                            <template v-slot:label>
                                <div class="my-0 py-0">
                                    <p class="mb-0 title text--primary">
                                        {{ possibleAnswers[3].label }}
                                    </p>
                                </div>
                            </template>
                        </v-radio>
                    </v-card-text>
                </v-card>
            </v-radio-group>
        </v-row>
        <v-row class="mx-auto">
            <v-btn
                color="primary"
                :disabled="!answer"
                class="mx-auto white--text"
                @click="sendAnswer"
            >
                Valider
            </v-btn>
        </v-row>
        <v-row class="mt-5 mx-auto">
            <v-spacer />
            <AnswerTimer ref="answerTimer" />
            <v-spacer />
        </v-row>
    </div>
</template>

<script lang="ts">
import { PossibleAnswer, Question } from "@/utils/types";
import Vue from "vue";
import { PropType } from "vue/types/umd";
import AnswerTimer from "./AnswerTimer.vue";

export default Vue.extend({
    name: "AnswerQuestion",
    props: {
        question: {
            default: {},
            type: Object as PropType<Question>
        },
        possibleAnswers: {
            default: {},
            type: Array as PropType<PossibleAnswer[]>
        }
    },
    components: {
        AnswerTimer
    },
    data: () => ({
        answer: null as PossibleAnswer | null,
        timeout: null as ReturnType<typeof setTimeout> | null
    }),
    methods: {
        sendAnswer() {
            this.$emit("answer", this.answer);
        },
        setTimeoutOnAnswer() {
            this.timeout = setTimeout(() => {
                this.sendAnswer();
            }, 10000);

            (this.$refs.answerTimer as InstanceType<
                typeof AnswerTimer
            >).startTimer();
        },
        clearTimeoutOnAnswer() {
            if (this.timeout !== null) clearTimeout(this.timeout);
        }
    }
});
</script>

<style scoped>
.radioGroup-questions >>> .v-input--radio-group__input {
    justify-content: center;
}
</style>
