<template>
    <div>
        <div>
            <div class="content">
                <div class="content-img"></div>
            </div>
            <div class="content text-center mt-5">
                <h2>
                    Choisissez un <span style="color: #6c63ff;">thème</span>
                </h2>
            </div>
            <div class="content mt-5 mb-5">
                <v-row align="center" justify="center" class="content">
                    <v-col class="d-flex justify-center align-center py-0 mb-3">
                        <ThemeAutocomplete
                            v-if="pages > 0"
                            :initialThemes="themes"
                            :pages="pages"
                            @chose-theme="changeTheme"
                        />
                        <v-btn
                            height="48px"
                            color="primary"
                            class="white--text ml-2"
                            :disabled="isDisabled"
                            large
                            @click="sendThemeToParent"
                            >Valider</v-btn
                        >
                    </v-col>
                </v-row>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import ThemeAutocomplete from "./ThemeAutocomplete.vue";
import store from "../store";
import { Theme } from "@/utils/types";
import { isEmpty } from "lodash";

export default Vue.extend({
    name: "ChooseTheme",
    components: {
        ThemeAutocomplete
    },
    computed: {
        isDisabled(): boolean {
            return isEmpty(this.theme);
        }
    },
    mounted() {
        this.getThemes();
    },
    data: () => ({
        themes: [] as Theme[],
        theme: {} as Theme,
        pages: 0
    }),
    methods: {
        async getThemes() {
            const result: {
                themes: Theme[];
                pages: number;
            } = await store.dispatch("getThemes", {
                page: 1
            });
            this.themes = result.themes;
            this.pages = result.pages;
        },
        changeTheme(theme: Theme) {
            this.theme = theme;
        },
        sendThemeToParent() {
            this.$emit("theme", this.theme);
        }
    }
});
</script>

<style scoped>
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img {
    background-image: url("~@/assets/choose_theme3.svg");
}
</style>
