<template>
    <div>
        <div>
            <div class="content">
                <div class="content-img"></div>
            </div>
            <div class="content mt-5 mb-4">
                <h2>
                    Votre adversaire a
                    <span style="color: #ff6363;">quitté</span> la partie...
                    Vous êtiez sûrement trop fort pour lui !
                </h2>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "ConnectionClosed",
    data: () => ({})
});
</script>

<style scoped>
.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-img {
    background-image: url("~@/assets/connection_closed.svg");
}
</style>
