<template>
    <div>
        <div v-if="isWinner === true">
            <div class="content">
                <div class="content-img" id="won-game"></div>
            </div>
            <div class="content mt-5 text-center">
                <h2 v-if="mode === 'duo'">
                    Hourra ! Vous avez remporté le Quizz !
                </h2>
                <h2 v-else>
                    Hourra ! Vous avez répondu juste à deux questions ou plus !
                </h2>
            </div>
        </div>
        <div v-else-if="isWinner === 'tie'">
            <div class="content">
                <div class="content-img" id="tie-game"></div>
            </div>
            <div class="content mt-5 text-center">
                <h2 v-if="mode === 'duo'">
                    Vous avez remporté le quizz à égalité !
                </h2>
            </div>
        </div>
        <div v-else>
            <div class="content">
                <div class="content-img" id="lost-game"></div>
            </div>
            <div class="content mt-5 text-center">
                <h2 v-if="mode === 'duo'">
                    Vous avez perdu... Vous ferez mieux la prochaine fois !
                </h2>
                <h2 v-else>
                    Vous avez répondu faux à plus de deux questions... Vous
                    ferez mieux la prochaine fois !
                </h2>
            </div>
        </div>
        <div class="content mt-5 mb-5">
            <h2>
                Score :
                <span style="color: #6c63ff;">{{ score }}</span> / 4
            </h2>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import VueConfetti from "vue-confetti";

Vue.use(VueConfetti as any);

export default Vue.extend({
    name: "GameFinished",
    props: {
        isWinner: {
            default: false,
            type: [Boolean, String]
        },
        mode: {
            default: "solo",
            type: String
        },
        score: {
            default: -1,
            type: Number
        }
    },
    mounted() {
        if (this.isWinner) {
            Vue.prototype.$confetti.start();

            setTimeout(() => {
                Vue.prototype.$confetti.stop();
            }, 5000);
        }
    },
    data: () => ({})
});
</script>

<style scoped>
.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

#won-game {
    background-image: url("~@/assets/won_game.svg");
}

#lost-game {
    background-image: url("~@/assets/lost_game.svg");
}

#tie-game {
    background-image: url("~@/assets/tie_game.svg");
}
</style>
