<template>
    <div>
        <div class="content">
            <div class="content-img"></div>
        </div>
        <div class="content mt-5 mb-5">
            <h3>
                Embarquez vers un nouveau quizz
                <span style="color: #6c63ff">{{ type }}</span> !
            </h3>
        </div>
        <div class="content">
            <v-btn color="primary" class="white--text" @click="startQuizz">
                Commencer
            </v-btn>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import router from "../router";

export default Vue.extend({
    name: "StartQuizz",
    props: {
        type: {
            default: "solo",
            type: String
        }
    },
    data: () => ({}),
    methods: {
        startQuizz() {
            router.push(`/take-quizz-${this.type}`);
        }
    }
});
</script>

<style scoped>
.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-img {
    background-image: url("~@/assets/start_quizz_img.svg");
}
</style>
