<template id="cameraComponent">
    <div class="d-flex justify-center align-center mb-5">
        <div
            class="ml-2 receiverTxt d-flex align-end"
            v-if="streamSource === null"
        >
            <div class="receiverImg"></div>
            <p>
                Vous n'avez pas activé votre caméra.
            </p>
        </div>
        <video
            v-if="streamSource !== null"
            class="mr-2"
            controls
            ref="emitterVideo"
            width="480px"
            height="270px"
        ></video>
        <video
            v-if="receiverHasAllowedCamera"
            class="ml-2"
            controls
            ref="receiverVideo"
            width="480px"
            height="270px"
        ></video>
        <div
            class="ml-2 receiverTxt d-flex align-end"
            v-if="!receiverHasAllowedCamera"
        >
            <div class="receiverImg"></div>
            <p>
                L'utilisateur adverse n'a pas activé sa caméra.
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

export default Vue.extend({
    name: "StreamCamera",
    props: {
        streamSource: {} as PropType<MediaStream>,
        receiverSource: {} as PropType<MediaStream>
    },
    data: () => ({
        receiverHasAllowedCamera: false
    }),
    watch: {
        streamSource: async function() {
            await this.$nextTick();
            this.startStream();
        },
        receiverSource: async function() {
            await this.$nextTick();
            this.addReceiverStream();
        }
    },
    mounted() {
        this.startStream();
        this.addReceiverStream();
    },
    methods: {
        startStream() {
            if (this.streamSource !== null) {
                const emitterVideo = this.$refs
                    .emitterVideo as HTMLVideoElement;
                emitterVideo.srcObject = this.streamSource;

                emitterVideo.addEventListener("loadedmetadata", () => {
                    emitterVideo.play();
                });
            }
        },
        async addReceiverStream() {
            if (this.receiverSource !== null) {
                this.receiverHasAllowedCamera = true;

                await this.$nextTick(); // Wait for the <video ref="receiverVideo"> to render

                const receiverVideo = this.$refs
                    .receiverVideo as HTMLVideoElement;
                receiverVideo.srcObject = this.receiverSource;

                receiverVideo.addEventListener("loadedmetadata", () => {
                    receiverVideo.play();
                });
            } else {
                this.receiverHasAllowedCamera = false;
            }
        }
    }
});
</script>

<style scoped>
video {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    outline: none !important;
    border-radius: 5px;
    object-fit: cover;
}

.receiverTxt {
    position: relative;
    min-width: 270px;
    min-width: 480px;

    height: 270px;
    width: 480px;
}

.receiverTxt p {
    max-width: 200px;

    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: orange;

    z-index: 1;
    padding: 0;

    margin: 0;
    margin-bottom: 25px;
    margin-left: 55px;
}

.receiverImg {
    background: url("~@/assets/no_stream.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 270px;
    width: 480px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
</style>
