<template>
    <v-select
        placeholder="Rechercher un thème..."
        :filterable="false"
        :options="isSearching ? filteredThemes : themes"
        label="name"
        class="vue-select mr-2"
        autofocus
        :clearable="false"
        @input="onChange"
        @open="onOpen"
        @close="onClose"
        @search="debouncedSearch"
    >
        <template #option="{ name }">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>
                        {{ name }}
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </template>
        <template #no-options>
            <li role="option">
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>
                            Aucune donnée disponible...
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </li>
        </template>
        <template #list-footer>
            <li
                role="option"
                ref="load"
                class="loader vs__dropdown-option"
                v-show="hasNextPage"
            >
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="text-primary">
                            Chargement de données...
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </li>
        </template>
    </v-select>
</template>

<script lang="ts">
import { Theme } from "@/utils/types";
import Vue, { PropType } from "vue";
import store from "@/store";

import "vue-select/dist/vue-select.css";
import vSelect from "vue-select";

interface ThemeResult {
    themes: Theme[];
    pages: number;
}

export default Vue.extend({
    name: "ThemeAutocomplete",
    props: {
        initialThemes: {
            type: Array as PropType<Theme[]>,
            default: []
        },
        pages: Number
    },
    components: {
        vSelect
    },
    mounted() {
        this.observer = new IntersectionObserver(this.infiniteScroll); // Passing callback function
        this.themes = this.initialThemes;
    },
    computed: {
        hasNextPage(): boolean {
            if (this.isSearching) {
                return this.currentPageFiltered < this.filteredPages;
            } else {
                return this.currentPage < this.pages;
            }
        }
    },
    data: () => ({
        observer: {} as IntersectionObserver,
        timerId: 0,

        nextPageThemes: [] as Theme[],
        themes: [] as Theme[],
        currentPage: 1,

        nextPageFilteredThemes: [] as Theme[],
        filteredThemes: [] as Theme[],
        currentPageFiltered: 1,
        filteredPages: 0,

        isSearching: false,
        searchingTerm: ""
    }),
    methods: {
        async getNextThemes() {
            const result: ThemeResult = await store.dispatch("getThemes", {
                page: this.currentPage
            });
            this.nextPageThemes = result.themes;
        },
        async getFilteredThemes(input: string) {
            const result: ThemeResult = await store.dispatch(
                "getFilteredThemes",
                {
                    page: this.currentPageFiltered,
                    search: input
                }
            );

            this.filteredPages = result.pages;
            return result.themes;
        },
        async getNextFilteredThemes(input: string) {
            const result: ThemeResult = await store.dispatch(
                "getFilteredThemes",
                {
                    page: this.currentPageFiltered,
                    search: input
                }
            );
            this.nextPageFilteredThemes = result.themes;
        },
        debouncedSearch(input: string) {
            clearTimeout(this.timerId);

            if (input.toLowerCase().trim() === "") {
                this.isSearching = false;
            }
            // Get new themes after 400ms once the user has stoped typing
            this.timerId = window.setTimeout(() => {
                this.onSearch(input);
            }, 400);
        },

        // --------- VUE-SELECT FUNCTIONS ---------

        onChange(theme: Theme) {
            if (theme !== null) {
                this.$emit("chose-theme", { id: theme.id, name: theme.name });
            }
        },
        async onSearch(input: string) {
            input = input.toLowerCase().trim();

            this.searchingTerm = input;
            this.currentPageFiltered = 1;

            if (input.trim() !== "") {
                this.isSearching = true;

                const themes: Theme[] = await this.getFilteredThemes(input);
                this.filteredThemes = themes;
            } else {
                this.isSearching = false;
            }
        },
        async onOpen() {
            if (this.hasNextPage) {
                await this.$nextTick();
                const load = this.$refs.load as Element;
                this.observer.observe(load); // Observe last <li> item in list
            }
        },
        onClose() {
            this.observer.disconnect();
        },
        async infiniteScroll(entries: IntersectionObserverEntry[]) {
            entries.forEach(async ({ target, isIntersecting }) => {
                if (isIntersecting) {
                    const _target = target as HTMLElement;
                    const ul = _target.offsetParent as HTMLElement;
                    const scrollTop = (_target.offsetParent as HTMLElement)
                        .scrollTop;

                    if (this.isSearching) {
                        this.currentPageFiltered++;
                        await this.getNextFilteredThemes(this.searchingTerm);
                        this.filteredThemes = [
                            ...this.filteredThemes,
                            ...this.nextPageFilteredThemes
                        ];
                    } else {
                        this.currentPage++;
                        await this.getNextThemes();
                        this.themes = [...this.themes, ...this.nextPageThemes];
                    }

                    await this.$nextTick();
                    ul.scrollTop = scrollTop;
                }
            });
        }
    }
});
</script>

// Might use the styles one day for pagination (leave it for now ?)

<style scoped>
.vue-select {
    min-width: 280px;
    max-width: 360px;
    width: 50%;
}

.vue-select >>> .vs__search {
    padding: 0 12px;
    cursor: text;
}

.vue-select >>> .vs__actions {
    padding-right: 12px;
}

.vue-select >>> .vs__search::placeholder {
    color: #333;
    opacity: 0.4;
}

.vue-select >>> .vs__dropdown-toggle {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    height: 48px;
    border: none;
}

.vue-select >>> .vs__dropdown-menu {
    border: none;
    padding: 0;
}

.vue-select >>> .vs__dropdown-option {
    padding: 0;
}

.vue-select >>> .vs__dropdown-option--highlight {
    background-color: whitesmoke;
}

.vue-select >>> .vs__selected {
    padding: 0 10px;
    bottom: 0;
    top: 0;
}

.pagination >>> button {
    position: relative;
    outline: none;
}

.pagination >>> button:focus::after {
    box-shadow: 0px 0px 2px 3px rgb(51, 144, 236, 0.5);
}

.pagination >>> button::after {
    transition: all 250ms ease;
    border-radius: 4px;
    position: absolute;
    content: "";
    bottom: 1px;
    right: 1px;
    left: 1px;
    top: 1px;
}
</style>
