<template>
    <v-container>
        <v-row no-gutters class="pa-5 px-9">
            <v-col>
                <v-card class="mx-auto" max-width="350">
                    <v-card-text>
                        <p class="display-1 orange--text">
                            {{ firstName + " " + lastName }}
                        </p>
                        <div class="mb-2">Informations</div>
                        <div class="text--primary">
                            Classement: {{ ranking }} sur {{ numberOfUsers }}
                        </div>
                        <div class="text--primary">Points: {{ points }}</div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "UserInfoTable",
    props: {
        firstName: { type: String, default: "Prénom" },
        lastName: { type: String, default: "Nom" },
        points: { type: Number, default: -1 },
        ranking: { type: Number, default: -1 },
        numberOfUsers: { type: Number, default: -1 }
    },
    data: () => ({
        lastname: "test",
        firstname: "test"
    })
});
</script>
