<template>
    <div>
        <div class="content">
            <div class="content-img"></div>
        </div>
        <div class="content mt-5 mb-5">
            <h2>
                L’utilisateur adverse répond à sa question, votre tour arrive
            </h2>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import router from "../router";

export default Vue.extend({
    name: "WaitingForNewQuestion",
    data: () => ({}),
    methods: {
        startQuizz() {
            router.push("/take-quizz-duo");
        }
    }
});
</script>

<style scoped>
.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-img {
    background-image: url("~@/assets/wait_for_user.svg");
}
</style>
