<template>
    <div>
        <div class="content">
            <div class="content-img"></div>
        </div>
        <div class="content mt-5 mb-2 text-center">
            <h2>
                Votre partie commencera dès qu’un utilisateur vous affrontera en
                <span style="color: #6c63ff;">duel</span> !
            </h2>
        </div>
        <div class="content text-center">
            <h3>
                Le thème choisi est :
                <span style="color: #6c63ff;">{{ theme }}</span>
            </h3>
        </div>
        <div class="content mt-3 mb-4">
            <v-btn @click="emitChangeTheme" color="primary"
                >CHANGER DE THEME</v-btn
            >
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "WaitingForUser",
    props: {
        theme: {
            default: "",
            type: String
        }
    },
    data: () => ({}),
    methods: {
        emitChangeTheme() {
            this.$emit("change-theme");
        }
    }
});
</script>

<style scoped>
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img {
    background-image: url("~@/assets/wait_for_user.svg");
}
</style>
