<template>
    <div>
        <div class="content">
            <div class="content-img"></div>
        </div>
        <div class="content mt-5 mb-5">
            <h2>
                Votre adversaire choisit un
                <span style="color: #6c63ff;"> thème</span>...
            </h2>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "WaitingForUserToChooseTheme",
    data: () => ({}),
    methods: {}
});
</script>

<style scoped>
.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-img {
    background-image: url("~@/assets/choose_theme2.svg");
}
</style>
