<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col
                cols="12"
                sm="12"
                class="d-flex flex-column justify-center align-center"
            >
                <v-card
                    class="elevation-12"
                    min-width="320px"
                    max-width="500px"
                    width="100%"
                >
                    <v-toolbar color="primary" dark flat>
                        <v-toolbar-title>Se connecter</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-card-text class="pt-10 px-10 pb-0">
                        <v-form ref="form" v-model="valid">
                            <v-text-field
                                v-model="email"
                                label="Email"
                                name="email"
                                prepend-icon="mdi-account"
                                :rules="rules.email"
                                type="text"
                                outlined
                                required
                            ></v-text-field>

                            <v-text-field
                                v-model="password"
                                label="Mot de passe"
                                name="password"
                                prepend-icon="mdi-lock"
                                type="password"
                                @keyup.enter="checkLogin"
                                :rules="rules.password"
                                required
                                outlined
                            ></v-text-field>
                        </v-form>
                        <p v-if="!isLoginInfoCorrect" class="red--text">
                            Les identifiants sont incorrects.
                        </p>
                    </v-card-text>
                    <v-card-actions class="pb-10 px-10">
                        <v-btn text color="orange" @click="pushToRegister"
                            >S'inscrire</v-btn
                        >
                        <v-spacer></v-spacer>
                        <v-btn
                            color="orange white--text"
                            @click="checkLogin"
                            :disabled="!valid"
                            type="submit"
                            >Connexion</v-btn
                        >
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import router from "./router";
import store from "./store";

export default Vue.extend({
    name: "Login",
    data: () => ({
        email: "",
        password: "",
        valid: false,
        isLoginInfoCorrect: true,
        rules: {
            email: [
                (v: string) => !!v || "Un email est requis.",
                (v: string) =>
                    /.+@.+\..+/.test(v) || "L'email doit être valide."
            ],
            password: [(v: string) => !!v || "Un mot de passe est requis."]
        },
        errorsLogin: []
    }),
    methods: {
        async checkLogin() {
            this.isLoginInfoCorrect = await store.dispatch(
                "isLoginInfoCorrect",
                {
                    email: this.email,
                    password: this.password
                }
            );
            if (this.isLoginInfoCorrect) {
                router.push("/user-info");
            }
        },
        pushToRegister() {
            router.push("/register");
        }
    }
});
</script>

<style scoped>
.container {
    background-color: #343a40;
}

header {
    background: rgb(237, 87, 80);
    background: linear-gradient(
        90deg,
        rgba(237, 87, 80, 1) 0%,
        rgba(241, 131, 80, 1) 51%,
        rgba(245, 174, 64, 1) 93%
    );
}

a {
    text-decoration: none;
}
</style>
