<template>
    <div>
        <v-navigation-drawer v-model="drawer" app dark clipped>
            <v-list>
                <v-list-item link to="/user-info">
                    <v-list-item-title>
                        Classement
                    </v-list-item-title>
                </v-list-item>
                <v-list-item link to="/start-quizz-solo">
                    <v-list-item-title>
                        Quizz Solo
                    </v-list-item-title>
                </v-list-item>
                <v-list-item link to="/start-quizz-duo">
                    <v-list-item-title>
                        Quizz Duel
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar app dark clipped-left>
            <v-app-bar-nav-icon
                @click.stop="drawer = !drawer"
            ></v-app-bar-nav-icon>
            <v-toolbar-title
                >Jeu de
                <span style="color: #ff9800;">Quizz</span></v-toolbar-title
            >
            <v-spacer></v-spacer>
            <v-btn color="orange" @click="logout">Déconnexion</v-btn>
        </v-app-bar>
        <v-main>
            <router-view />
        </v-main>
        <v-footer dark app>
            <span class="my-2" style="font-size: 14px;"
                >&copy; Projet tutoré S5 -
                <span style="color: #ff9800;">{{ year }}</span></span
            >
        </v-footer>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "Main",
    components: {
        //
    },
    data: () => ({
        drawer: null,
        year: 2020 as number
    }),
    mounted() {
        const date = new Date();
        this.year = date.getFullYear();
    },
    methods: {
        logout() {
            this.$cookies.remove("token");
            this.$router.push("/login");
        }
    }
});
</script>

<style>
.content-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: 320px;
    min-height: 240px;
    height: 20vw;
    width: 100%;
}
</style>
