<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="4">
                <v-card class="elevation-12">
                    <v-card-text class="pt-10 px-10 pb-0">
                        <v-img
                            max-height="550"
                            max-width="650"
                            src="@/assets/page_not_found.svg"
                        ></v-img>

                        <div
                            class="mt-5 pb-2"
                            style="display: flex; justify-content: center; align-items: center;"
                        >
                            <h2 class="mt-5 pb-5">
                                La page que vous cherchez n'existe
                                <span style="color: #ff6363;">pas</span>.
                            </h2>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "PageNotFound",
    data: () => ({})
});
</script>

<style scoped>
.container {
    background-color: #343a40;
}
</style>
