<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col
                cols="12"
                sm="12"
                class="d-flex flex-column justify-center align-center"
            >
                <v-card
                    class="elevation-12"
                    min-width="360px"
                    max-width="650px"
                    width="100%"
                >
                    <v-card-title class="pa-5">
                        Inscription
                    </v-card-title>

                    <v-card-text class="px-5">
                        <v-form ref="form" v-model="valid">
                            <v-row>
                                <v-col>
                                    <v-text-field
                                        v-model="firstName"
                                        label="Prénom"
                                        @input="
                                            isInputValid('firstName', firstName)
                                        "
                                        :error-messages="errors['firstName']"
                                        outlined
                                        required
                                    ></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field
                                        v-model="lastName"
                                        label="Nom"
                                        @input="
                                            isInputValid('lastName', lastName)
                                        "
                                        :error-messages="errors['lastName']"
                                        outlined
                                        required
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-text-field
                                        v-model="email"
                                        label="Email"
                                        @input="debouncedEmailTaken"
                                        :error-messages="errors['email']"
                                        outlined
                                        required
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-text-field
                                        v-model="password"
                                        type="password"
                                        @input="
                                            isInputValid('password', password)
                                        "
                                        label="Mot de passe"
                                        :error-messages="errors['password']"
                                        outlined
                                        required
                                    ></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field
                                        v-model="passwordConfirm"
                                        type="password"
                                        @input="
                                            isInputValid(
                                                'passwordConfirm',
                                                passwordConfirm
                                            )
                                        "
                                        :error-messages="
                                            errors['passwordConfirm']
                                        "
                                        label="Confirmer"
                                        outlined
                                        required
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-card-text>
                    <v-card-actions class="pb-5 pr-5">
                        <v-spacer></v-spacer>
                        <v-btn text @click="cancel()">Annuler</v-btn>
                        <v-btn
                            color="primary"
                            :disabled="!valid || disableLogin"
                            @click="registerNewUser"
                            >S'Inscrire</v-btn
                        >
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import store from "./store";
import { Rules } from "./utils/types";
import { debounce } from "lodash";

export default Vue.extend({
    name: "Register",
    data: () => ({
        email: "",
        password: "",
        passwordConfirm: "",
        firstName: "",
        lastName: "",
        disableLogin: true,
        valid: true,
        errors: {
            email: [],
            password: [],
            passwordConfirm: [],
            firstName: [],
            lastName: []
        }
    }),
    methods: {
        debouncedEmailTaken: debounce(function(this: any) {
            this.isInputValid("email", this.email);
        }, 500),
        async registerNewUser() {
            await store.dispatch("registerNewUser", {
                firstName: this.firstName,
                lastName: this.lastName,
                password: this.password,
                email: this.email
            });

            this.$router.push("/login");
        },
        cancel() {
            this.$router.push("/login");
        },
        async isInputValid(input: string, value: string) {
            this.disableLogin =
                this.password === "" ||
                this.passwordConfirm === "" ||
                this.email === "" ||
                this.firstName === "" ||
                this.lastName === "";
            const rules = this.getRules();
            const inputRules = this.readProp(rules, input);
            this.emptyProp(this.errors, input);
            inputRules.forEach(async (rule: Function) => {
                const error = await rule(value);
                if (error !== true) {
                    this.pushProp(this.errors, input, error);
                }
            });
        },
        readProp(obj: any, prop: any) {
            return obj[prop];
        },
        pushProp(obj: any, prop: any, error: string) {
            obj[prop] = error;
        },
        emptyProp(obj: any, prop: any) {
            obj[prop] = [];
        },
        async isEmailTaken(email: string) {
            const emailTaken = await store.dispatch("isEmailTaken", email);
            return emailTaken;
        },
        getRules() {
            const rules: Rules = {
                email: [
                    (v: string) => !!v || "Un email est requis.",
                    (v: string) =>
                        /.+@.+\..+/.test(v) || "L'email doit être valide.",
                    async (v: string) => {
                        const isEmailTaken = await this.isEmailTaken(v);
                        if (isEmailTaken) {
                            return "Cet email est déjà utilisé.";
                        } else {
                            return true;
                        }
                    }
                ],
                password: [
                    (v: string) => !!v || "Un mot de passe est requis.",
                    (v: string) =>
                        v.length >= 3 ||
                        "Le mot de passe doit contenir entre 3 et 255 caractères.",
                    (v: string) =>
                        v.length <= 255 ||
                        "Le mot de passe doit contenir entre 3 et 255 caractères."
                ],
                passwordConfirm: [
                    (v: string) =>
                        v === this.password ||
                        "Les mots de passes doivent être identiques."
                ],
                firstName: [
                    (v: string) => !!v || "Un prénom est requis.",
                    (v: string) =>
                        v.length >= 3 ||
                        "Le prénom doit contenir entre 3 et 255 caractères.",
                    (v: string) =>
                        v.length <= 255 ||
                        "Le prénom doit contenir entre 3 et 255 caractères."
                ],
                lastName: [
                    (v: string) => !!v || "Un nom est requis.",
                    (v: string) =>
                        v.length >= 3 ||
                        "Le nom doit contenir entre 3 et 255 caractères.",
                    (v: string) =>
                        v.length <= 255 ||
                        "Le nom doit contenir entre 3 et 255 caractères."
                ]
            };
            return rules;
        }
    }
});
</script>

<style scoped>
.container {
    background-color: #343a40;
}
</style>
